.workspaces_panel {
  margin: 0px; }
  .workspaces_panel .eventbox {
    border: none; }
    .workspaces_panel .eventbox button {
      border: none; }
      .workspaces_panel .eventbox button .indicator {
        border-color: #ffffff;
        border-width: 2px;
        border-style: solid;
        border-radius: 99px; }
      .workspaces_panel .eventbox button.active .indicator {
        border-color: #88C0D0; }
  .workspaces_panel button {
    background-color: transparent;
    padding: 0 3px;
    border: none; }
    .workspaces_panel button.active .indicator .fill {
      min-width: 20px; }
    .workspaces_panel button .indicator .fill {
      margin: 2px;
      min-width: 8px;
      min-height: 8px;
      border-radius: 99px; }
    .workspaces_panel button.occupied .indicator .fill {
      background-color: #ffffff; }
    .workspaces_panel button.occupied.active .indicator .fill {
      background-color: #88C0D0; }
    .workspaces_panel button.occupied:hover .indicator .fill {
      background-color: #88C0D0; }
    .workspaces_panel button:hover {
      background-color: transparent; }
      .workspaces_panel button:hover .indicator {
        border-color: #88C0D0; }

label {
  font-size: 1.2em; }

.bar {
  background-color: rgba(43, 43, 43, 0.9); }

.media {
  background-color: transparent;
  border: none;
  color: #ffffff; }

.media:hover {
  color: #88C0D0; }

.clock {
  margin: 5px 10px 0 10px;
  font-size: 1.2em;
  font-family: "JetBrains Mono Regular"; }

.volume-bar {
  min-height: 16px;
  min-width: 120px;
  padding: 0 5px; }

.volume-button {
  background: transparent;
  border: none; }

highlight {
  background-color: #88C0D0;
  background-size: 0;
  color: #88C0D0;
  min-height: 16px;
  border-radius: 8px; }

slider {
  background-size: 0px;
  border: none;
  background-color: transparent; }

trough {
  min-height: 16px;
  border-radius: 8px; }

.logo {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  margin-left: 5px; }

.powermenu-icon {
  background-color: transparent;
  border: none;
  color: #BB5566;
  font-size: 1.3em; }

.applauncher {
  background: rgba(43, 43, 43, 0.9);
  border-radius: 0px;
  border: 3px solid white; }

.app,
.app-search {
  border-radius: 0px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  min-height: 40px;
  margin: 0 10px; }
  .app:hover,
  .app-search:hover {
    background: #88C0D0; }

.powermenu-box {
  background-color: transparent;
  border: none; }

.powermenu {
  background-color: #2b2b2b;
  border: 3px solid white;
  border-radius: 0px;
  padding: 10px; }

.shutdown-icon,
.reboot-icon,
.logout-icon,
.lock-icon,
.close-icon {
  min-width: 200px;
  min-height: 200px;
  background-color: #1b1b1b;
  margin: 10px;
  border-radius: 0px; }
  .shutdown-icon:hover,
  .reboot-icon:hover,
  .logout-icon:hover,
  .lock-icon:hover,
  .close-icon:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.shutdown-icon {
  font-size: 5em;
  color: #BB5566;
  border: 3px solid #BB5566; }
  .shutdown-icon:hover {
    font-size: 6em; }

.reboot-icon {
  font-size: 5.5em;
  color: #BB6655;
  border: 3px solid #BB6655; }
  .reboot-icon:hover {
    font-size: 6.5em; }

.logout-icon {
  font-size: 7em;
  color: #BB9955;
  border: 3px solid #BB9955; }
  .logout-icon:hover {
    font-size: 8em; }

.lock-icon {
  font-size: 4.7em;
  color: #55BB66;
  border: 3px solid #55BB66; }
  .lock-icon:hover {
    font-size: 5.7em; }

.close-icon {
  font-size: 4.7em;
  color: #BB5566;
  border: 3px solid #BB5566; }
  .close-icon:hover {
    font-size: 5.7em; }
