@import "colors";

window.bar {
  background-color: transparentize($background, 0.3);
  border-bottom: 1px solid $border;
}

.bar {
 color: $foreground; 
}

$workspace-transition: 300ms;

.workspaces {
  padding-left: 5px;
}

.workspaces label {
  font-size: 0;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5px;
  background-color: gray;
  margin: 0 4px;
  transition-duration: $workspace-transition;
}

.workspaces label.occupied {
  min-width: 15px;
  min-height: 15px;
  background-color: $foreground;
  transition-duration: $workspace-transition;
}

.workspaces label.active {
  min-width: 30px;
  min-height: 15px;
  background-color: $accent;
  transition-duration: $workspace-transition;
}

.clock {
  font-weight: bold;
  font-size: 1.25em;
}

.bar button.panel-button {
  background-color: transparent;
  border-color: transparent;
  color: $foreground;
  padding: 2px;
  margin: 5px;
  font-size: 1.25em;
  &:hover {
    background-color: transparentize($foreground, 0.8);
  }
  &:active {
    background-color: transparentize($accent, 0.8);
  }
}

.bar .battery-indicator.low image {
  color: orange;
}

.bar .battery-indicator.very-low image {
  color: red;
}

.bar .battery-indicator.charging image,
.bar .battery-indicator.charged image {
  color: green;
}

.bar button.tray-item {
  background-color: transparent;
}
