@import "../colors.scss";

.applauncher {
	background: $background;
	border-radius: 0px;
	border: 3px solid white;
}

.app,
.app-search {
	border-radius: 0px;
	border: 1px solid white;
	background: rgba(255, 255, 255, 0.2);
	min-height: 40px;
	margin: 0 10px;
	&:hover {
		background: $accent;
	}
}
